# Database
POSTGRES_DB=inventorydb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234

# Backend
DATABASE_URL=postgresql+asyncpg://postgres:1234@localhost:5432/inventorydb
CORS_ORIGINS=http://localhost:3000,https://your-frontend.vercel.app

# Frontend
REACT_APP_API_URL=http://localhost:8000
